<!DOCTYPE html>

<html>

<head>
    <title>Warmup Project</title>
    <link rel="stylesheet" href="static/css/index.css">
    <script src="static/js/jquery-1.9.1.min.js"></script>
</head>

<body>

<div id="login-page" class="box">
    <div id="message" class="message"></div>
    <div class="form">
        <form>
            <div class="input" id="input">
                Username: <input id="user" type="text" name="user"><br>
                Password: <input id="password" type="password" name="password"><br>
            </div>
            <div class="buttons">
                <input id="login-button" type="submit" value="Login">
                <input id="add-user-button" type="submit" value="Add User">
                <input id="logout-button" type="submit" value="Logout">
            </div>
        </form>
    </div>
</div>

<script>

// Set page up initially
$(document).ready(function() {
    show_login_page();
});

// Login page
function show_login_page(message) {

    if (!message) {
        message = "Please enter your credentials below";
    }

    $('#input').show();
    $('#login-button').show();
    $('#add-user-button').show();
    $('#logout-button').hide();
    $('#user').val("");
    $('#password').val("");
    $('#message').html(message);
}

// Welcome page
function show_welcome_page(user, count) {

    $('#input').hide();
    $('#login-button').hide();
    $('#add-user-button').hide();
    $('#logout-button').show();
    $('#message').html("Welcome " + user + "<br>You have logged in " + count + " times.");
}

function json_request(page, dict, success, failure) {
    $.ajax({
        type: 'POST',
        url: page,
        data: JSON.stringify(dict),
        contentType: "application/json",
        dataType: "json",
        success: success,
        error: failure
    });
}

$('#login-button').click(function() {

    var user = $('#user').val();
    var password = $('#password').val();
    json_request("/users/login", {user: user, password: password}, function(data) { return handle_login_response(data, user); }, function(jqXHR, textStatus, errorThrown) { alert(jqXHR.status); });

    return false;
});

$('#add-user-button').click(function() {

    var user = $('#user').val();
    var password = $('#password').val();
    json_request("/users/add", { user: user, password: password }, function(data) { return handle_add_user_response(data, user); }, function(jqXHR, textStatus, errorThrown) { alert(jqXHR.status); });

    return false;
});

$('#logout-button').click(function() {

    show_login_page();

    return false;
});

function handle_login_response(data, user) {

    if (data.errCode > 0) {

        c = data.count;
        show_welcome_page(user, c);
    } else {

        show_login_page(get_message_for_errcode(data.errCode));
    }
}

function handle_add_user_response(data, user) {

    if( data.errCode > 0 ) {

        c = data.count;
        show_welcome_page(user, c);
    } else {

        show_login_page(get_message_for_errcode(data.errCode));  
    }
}

ERR_BAD_CREDENTIALS = -1;
ERR_USER_EXISTS = -2;
ERR_BAD_USERNAME = -3;
ERR_BAD_PASSWORD  = -4;

function get_message_for_errcode(code) {

    if (code == ERR_BAD_CREDENTIALS) {
        return ("Invalid username and password combination. Please try again. ");
    } else if (code == ERR_BAD_USERNAME) {
        return ("The user name should not be empty and at most 128 characters long. Please try again.");
    } else if (code == ERR_USER_EXISTS) {
        return ("This user name already exists. Please try again.");
    } else if (code == ERR_BAD_PASSWORD) {
        return ("The password should be at most 128 characters long. Please try again");
    } else {
        // This case should never happen!
        alert('Illegal error code encountered: ' + code);
        return ("Unknown error occured: " + code);
   }
}

</script>

</body>

</html>
